<%
   time = Time.strptime(post['time'], '%Y%m%d%H%M%S').strftime('%H:%M:%S')
   d = post['info'][0..20]
   t = post['info']
   class_d = 'ua'
   if post['login'] != ''
     d = post['login']
     t = post['info']
     class_d = 'login'
   end
   re = Regexp.new("(?<=\s|^|>|#)(?:(?:([0-2]?[0-9])\:([0-5][0-9])\:([0-5][0-9])|([0-2]?[0-9])([0-5][0-9])([0-5][0-9]))(?:[\:\^]([0-9]{1,2})|([¹²³]))?)|([0-2]?[0-9])\:([0-5][0-9])(?=\s|$|<)")
   message = post['message'].gsub(re) {|s|
     "<span class='horloge_ref'>#{s}</span>"
   }
   display = post['login'].presence || post['info'] %>
<li class='post' id="p<%=post['id']-%>"><span class="horloge"><%=time%></span> <span title="<%=post['info']%>" class="<%=class_d%>"><%=d%></span> <span class="message"><%=raw message %></span></li>