<% content_for :navbar do %>
<li><%= link_to "Search", :controller => 'tribune', :action => 'search' %></li>
<% end %>

<h2><%= @tribune.name %></h2>
<p><%= @tribune.posts.count%> posts, <%= @tribune.links.count %> links.</p>

<div id="tribune">
  <ul id="list_tribune">
    <%
    @tribune.backend.each do |p|
      content = p['_source'] %>
        <%= render 'post', post: content %>
    <%end%>
  </ul>
</div>