
<% if @results.size !=0 %>
<ol>
  <% @results.each do |res|
    if res['_type'] == 'link' %>
        <li class="link"><%= res['_source']['href'] %></li>
    <% else %>
      <%=  render 'search_result', post: res %>
    <%end%>
  <%end%>
</ol>
<% end %>

<%= paginate @results, theme: 'bootstrap' unless @results.empty? %>

<%= form_tag url_for action: 'search', method: 'get' do |f| %>
    <div class="field">
      <%= label_tag "Query: " %>
      <%= text_field_tag 'query' %>
    </div>
<% end %>
