
<% if @results.size !=0 %>
<ol>
  <% @results.each do |res|
    p = res['_source']
    if res['_type'] == 'link' %>
        <li class="link"><%= p['href'] %></li>
    <% else
        d = t = p['info']
        class_d = 'ua'
        if p['login'] != ''
          d = p['login']
          t = p['info']
          class_d = 'login'
        end
        display = p['login'].presence || p['info'] %>
        <li class='post' id="p<%=res['_id']-%>"><span class="horloge"><%=p['time']%></span> <span title="<%=t%>" class="<%=class_d%>"><%=d%></span> <%=raw p['message'] %></li>
    <%end%>
  <%end%>
</ol>
<% end %>

<%= paginate @results, theme: 'bootstrap' unless @results.empty? %>

<%= form_tag url_for action: 'search', method: 'get' do |f| %>
    <div class="field">
      <%= label_tag "Query: " %>
      <%= text_field_tag 'query' %>
    </div>
<% end %>