
<% if @results.size !=0 %>
<ul>
  <% @results.each do |p|
    d = t = p.info
    class_d = 'ua'
    if p.login != ''
      d = p.login
      t = p.info
      class_d = 'login'
    end
    display = p.login != '' ? p.login : p.info %>
  <li><span class="horloge"><%= p.time %></span><span class="<%=class_d%>" title="<%=t%>"><%= d %></span></li>
  <% end %>
</ul>
<% end %>


<%= form_tag url_for action: 'search' do |f| %>
    <div class="field">
      <%= label_tag "Query: " %>
      <%= text_field_tag @query %>
    </div>
<% end %>